@import './global.css';

html,
body {
	background-color: var(--cl-black);
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.1s ease-out;
}

/*** HEADER ***/

.header {
	position: sticky;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-xxl) var(--space-xxl) 0 var(--space-xxl);
	margin-bottom: 48px;
}

.logo {
	height: 52px;
	z-index: 30;
}

.menu-btn {
	color: var(--cl-white);
	height: 64px;
	cursor: pointer;
	z-index: 30;
	margin-right: -10px;
}

.menu-list {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	user-select: none;
}

.menu-list ul {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 30px;
	list-style: none;
	padding-top: var(--space-3xl);
	font-size: var(--fs-xxl);
	font-weight: var(--fw-700);
}

.menu-list a {
	color: var(--cl-gray500);
}

.menu-list a:hover {
	color: var(--cl-white);
	cursor: pointer;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	backdrop-filter: blur(20px);
	z-index: 10;
}

/*** MAIN ***/

#hero {
	padding: var(--space-3xl) var(--space-giant) var(--space-3xl)
		var(--space-giant);
	text-align: left;
	background-color: var(--cl-black);
	user-select: none;
	color: var(--cl-gray600);
}

/* hover underline effect */

#hero a {
	color: var(--cl-gray300);
	text-decoration: underline 0.08em rgba(255, 255, 255, 0);
	transition: text-decoration-color 300ms;
}

#hero a:hover {
	color: var(--cl-white);
	text-decoration-color: rgba(255, 255, 255, 1);
}

/*** WORK ***/

#home-work {
	display: flex;
	flex-direction: column;
	padding: var(--space-giant) 0 var(--space-giant) 0;
	gap: var(--space-giant);
	background-color: var(--cl-gray200);
}

.cs-thumb-container-left {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: var(--cl-black);
	gap: var(--space-xs);
	text-align: right;
}

.cs-thumb-container-left:hover {
	cursor: pointer;
}

.cs-thumb-container-right {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	color: var(--cl-black);
	gap: var(--space-xs);
	text-align: left;
}

.cs-thumb-container-right:hover {
	cursor: pointer;
}

.cs-content-left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--space-xxl);
	padding: 0 var(--space-md) 0 var(--space-md);
	width: 100%;
}

.cs-content-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: bottom;
	gap: var(--space-xxl);
	padding: 0 var(--space-md) 0 var(--space-md);
	width: 100%;
}

.top {
	justify-content: start;
}

.bottom {
	justify-content: flex-end;
}

.cs-thumb-text {
	display: flex;
	flex-direction: column;
	gap: var(--space-xxs);
	max-width: 600px;
}

.cs-thumb-text p {
	color: var(--cl-gray600);
}

.content-cta {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xs);
	color: var(--cl-black);
	margin-right: 0;
	transition: transform 0.3s cubic-bezier(0.53, -0.31, 0, 1.88);
}

.cs-thumb-container-left:hover .content-cta {
	transform: translateX(5px);
}

.cs-thumb-container-right:hover .content-cta {
	transform: translateX(5px);
}

.cs-img-container-left {
	display: flex;
	gap: var(--space-xxl);
	justify-content: flex-start;
	padding: 0 var(--space-md) 0 var(--space-md);
	width: 100%;
}

.cs-img-container-right {
	display: flex;
	gap: var(--space-xxl);
	justify-content: flex-end;
	padding: 0 var(--space-md) 0 var(--space-md);
	width: 100%;
}

.cs-img {
	border-radius: 6px;
	width: 100%;
	height: auto;
}

.footer {
	padding: 38px 80px 24px 80px;
	color: var(--cl-white);
}

.footer ul {
	list-style: none;
	margin-bottom: 24px;
}

.footer li {
	margin: 10px 0;
}

.terms {
	color: var(--cl-gray600);
}

/**** CASE STUDY PAGE ****/

.case_study_main {
	margin: auto;
	background-color: var(--cl-gray200);
}

.header_drop {
	background-color: var(--cl-black);
	left: 0;
	right: 0;
	height: 528px;
}

.top_article {
	transform: translateY(-528px);
}

.case_study_header {
	margin-top: 80px;
}

.case_study_content {
	margin: 0 auto 0 auto;
	max-width: 1044px;
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.fixed-narrow-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(auto, auto);
	gap: 24px;
}

.inner-10-grid {
	grid-column-start: 3;
	grid-column-end: 11;
}

.grid-full {
	grid-column-start: 1;
	grid-column-end: 13;
}

.case_study_title {
	color: var(--cl-gray200);
}

/* .case_study_section_paragraph {
} */

.img_grid_3img {
	display: grid;
	grid-template: 2/2;
	gap: var(--space-xs);
	justify-content: stretch;
	justify-items: stretch;
	width: 100%;
	grid-template-areas:
		'img1 img2'
		'img1 img3';
}

.img_grid_3img img:nth-child(1) {
	border-radius: 6px;
	grid-area: img1;
}

.img_grid_3img img:nth-child(2) {
	border-radius: 6px;
	grid-area: img2;
}

.img_grid_3img img:nth-child(3) {
	border-radius: 6px;
	grid-area: img3;
}

/* TABLET or smaller */
@media screen and (max-width: 1279px) {
	h1 {
		font-size: var(--font-display2);
	}
	h2 {
		font-size: var(--font-lg);
	}

	p {
		font-size: var(--fs-sm);
		line-height: 1.5em;
	}

	.headernav {
		top: var(--space-lg);
		padding: 0px var(--space-xxl) var(--space-xxs) var(--space-xxl);
	}

	.logo {
		height: var(--space-md);
	}

	#hero {
		padding: var(--space-xxl) var(--space-xxl) 80px var(--space-xxl);
	}

	#home-work {
		padding: var(--space-3xl) 0 var(--space-3xl) 0;
		gap: var(--space-3xl);
	}

	.cs-img-container-left {
		display: block;
		padding: 24px;
	}

	.cs-img-container-right {
		display: block;
		padding: 24px;
	}

	.cs-content-left {
		padding: 24px;
	}

	.cs-content-right {
		padding: 24px;
	}

	.cs-text {
		display: flex;
		flex-direction: column;
		gap: var(--space-xxs);
		max-width: 500px;
	}
}

/* PHONE or smaller */
@media screen and (max-width: 719px) {
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: var(--fs-md);
	}

	p {
		font-size: var(--font-xs);
	}

	.header {
		top: var(--space-md);
		padding: 0px var(--space-xs) var(--space-xs) var(--space-xs);
	}

	.logo {
		height: var(--space-sm);
	}

	#hero {
		padding: var(--space-xs) var(--space-xs) var(--space-xxl) var(--space-xs);
	}

	#home-work {
		padding: var(--space-lg) 0 var(--space-xxl) 0;
		gap: var(--space-xxl);
	}

	.cs-thumb-container-left {
		flex-direction: column-reverse;
		padding: 0 var(--space-xs) 0 var(--space-xs);
		gap: 0; /* gap doesn't seem to work on mobile safari*/
	}

	.cs-img-container-left {
		display: block;
		padding: 0;
	}

	.cs-thumb-container-right {
		flex-direction: column-reverse;
		padding: 0 var(--space-xs) 0 var(--space-xs);
		gap: 0;
	}

	.cs-img-container-right {
		display: block;
		padding: 0;
	}

	.cs-content-left {
		padding: var(--space-xs) 0 0 0;
	}

	.cs-content-right {
		padding: var(--space-xs) 0 0 0;
	}

	.cs-text {
		gap: var(--space-base);
		max-width: 350px;
	}

	h4 {
		font-size: var(--font-xs);
	}

	.cs-img {
		border-radius: 3px;
	}
}
